@page "/counter"
@using System.Diagnostics
@using System.Threading
@using Stop.Services
@inject NavigationManager Nav
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Services.BlazorTimer Timer

<h1 class="text-center">Olá</h1>

<h1 class="text-center">
    <button class="btn btn-outline-success rounded-circle btn-jogo" @onclick="Iniciar">@Mensagem</button>
</h1>
<h1 class="text-center text-secondary">@TempoMin:@TempoSec</h1>
<h1 class="badge-danger text-center @BtnStatus">@Status</h1>
<button class="btn btn-danger btn-block @BtnStop" @onclick="Stop">STOP</button>
<br />
<button class="btn btn-outline-secondary btn-block" @onclick="Cancelar">Recomeçar o Jogo</button>


@code {
    private int currentCount = 0;
    private string Mensagem = "Começar";
    private string TempoMin = "00";
    private string TempoSec = "00";
    private string TempoMili = "00";
    private string Status = "";
    private string BtnStatus = "hide";
    private string BtnStop = "show";

    protected override void OnInitialized()
    {
        if (Utils.Tempo <= 0)
        {
            Nav.NavigateTo("/");
        }
        ;
        base.OnInitialized();
    }

    TimeSpan _timeLeft = new TimeSpan(0, 0, Utils.Tempo);

    private void Cancelar()
    {
        Nav.NavigateTo("/");
    }

    async void Iniciar()
    {
        var letras = await LocalStorage.GetItemAsync<string>("jogo");



        for (int i = 0; i < 28; i++)
        {
            var letra = GerarLetra();
            Mensagem = letra;





            if (!string.IsNullOrEmpty(letras))
            {
                if (letras.Contains(letra)) continue;
                letras = $"{letras} {letra}";
                await LocalStorage.SetItemAsync("jogo", letras);
                await Task.Run(StartTimer);
                return;
            }
            else
            {
                await LocalStorage.SetItemAsync("jogo", letra);
                await Task.Run(StartTimer);
                return;

            }

        }

        Mensagem = "Fim de jogo";

    }

    string GerarLetra()
    {
        var random = new Random();

        var flt = random.NextDouble();
        var shift = Convert.ToInt32(Math.Floor(25 * flt));
        return Convert.ToChar(shift + 65).ToString();
    }

    private async Task StartTimer()
    {
        while (_timeLeft > new TimeSpan())
        {
            await Task.Delay(1000);
            _timeLeft = _timeLeft.Subtract(new TimeSpan(0, 0, 1));
            currentCount = _timeLeft.Seconds;
            TempoMin = _timeLeft.Minutes.ToString("00");
            TempoSec = _timeLeft.Seconds.ToString("00");

            StateHasChanged();
        }


        await AfterTime();
        StateHasChanged();

    }
    Task AfterTime()
    {
        Status = "ACABOU O JOGO";
        BtnStatus = "show";
        BtnStop = "hide";
        _timeLeft = new TimeSpan(0, 0, 15);
        return Task.CompletedTask;
    }

    Task Stop()
    {
        Status = "ACABOU O JOGO";
        BtnStatus = "hide";
        _timeLeft = new TimeSpan(0, 0, 0);
        return Task.CompletedTask;
    }


}
